@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

html 
body{
    margin: 0;
    padding: 0;
    background-color: #272727;
    font-family: 'Cutive Mono', monospace;
    color: #ffff;
    font-weight: 300;
    font-size: 22px;
    text-rendering: optimizeLegibility;
}

p{
    margin: 0;
}

header{
    background-color: black;
    width: 100%;
}

#headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
}

.logo{
    width: 300px;
    padding: 0 200px;
    align-content: center;
}

.links{
    text-decoration: none;
    color: #ffff;
}

.links:visited{
    text-decoration: none;
    color: #ffff;
}

.socials{
    padding-right: 200px;
}

.Banner{
    background-repeat: no-repeat;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: flex-start;
    color: #ffff;
    height: 700px;
    margin-top: 1px;
    margin-bottom: 1px;  
}

.BannerVideo{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: flex-start;
    color: #ffff;
    height: 540px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.halfcolumn_R{
    padding-top: 3em;
    width: 30%;
    padding-left: 60%;
}

.halfcolumn_L{
    padding-top: 3em;
    width: 30%;
    padding-left: 10.6%;
}

.halfcolumn_abtgame{
    width: 30%;
    padding-left: 10%;
}

#Banner1{
    background-image:url(../imgs/banners/image1_desktop_200px.jpg);
    background-position: 450px;
}
#Banner2{
    background-image:url(../imgs/banners/image2_desktop_200px.jpg);
    background-position: -170px;
}
#Banner3{
    background-image:url(../imgs/banners/image3_desktop_200px.jpg);
    background-position: 600px;
}
#Banner4{
    background-image:url(../imgs/banners/image4_desktop_200px.jpg);
    background-position: -450px;
}
#Banner5{
    background-image:url(../imgs/banners/image5_desktop_200px.jpg);
    background-position: 250px;
}
#Banner6{
    background-image:url(../imgs/shop/doll.png);
    background-position: 150px;
}

section > p{
    width: 30%;
}

.shoptext{
    padding-bottom: 30px;
}

.shoplink{
    text-decoration: none;
    font-weight: bold;
    color: #2467be;
}

#carousel{
    background-color: #000000;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
}

.carousel-wrapper{
    position: relative;
    height: 800px;
    width: 80%;
    display: block;
}

.carousel-image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    transition: all 0.5s ease-in-out;
}

.arrow{
    border: solid #ffff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
    position: relative;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next{
    position: relative;
    top: 50%;
    left: 95%;
    transform: translateY(-50%) rotate(-45deg);
}

.image-1{
    background-image: url(../imgs/gallery/gallery_1.jpg);
    background-size: cover;
}
.image-2{
    background-image: url(../imgs/gallery/gallery_2.jpg);
    background-size: cover;
}
.image-3{
    background-image: url(../imgs/gallery/gallery_3.jpg);
    background-size: cover;
}
.image-4{
    background-image: url(../imgs/gallery/gallery_4.jpg);
    background-size: cover;
}
.image-5{
    background-image: url(../imgs/gallery/gallery_5.jpg);
    background-size: cover;
}
.image-6{
    background-image: url(../imgs/gallery/gallery_6.jpg);
    background-size: cover;
}
.image-7{
    background-image: url(../imgs/gallery/gallery_7.jpg);
    background-size: cover;
}
.image-8{
    background-image: url(../imgs/gallery/gallery_8.jpg);
    background-size: cover;
}

.social_media{
    width: 40px;
}

h3{
    margin-top: 0;
}

#footerTop{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #00000093;
}

#socialBot{
    width: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_links{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0%;
}

.footerBot{
    background-color: #000000;
    margin: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#footerLinks{
    color: #5e5e5e;
    font-weight: bold;
    font-size: 20px;
    padding-right: 75px;
    padding-left: 38px;
}